PSN_NPSSO_TOKEN=psn-token-goes-here-read-npm-psn-api-doc
STEAM_ID=your-steam-userid-goes-here
STEAM_API_KEY=steam-api-key-goes-here
AWS_ACCESS_KEY_ID=access-key-goes-here
AWS_SECRET_ACCESS_KEY=secret-access-key-goes-her